* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.back-btn {
  box-shadow:  0px 2px 3px 2px rgba(0, 0, 0, 0.15); 
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 5px;
}
.back-btn svg {
  vertical-align: middle;
}
h1,h2 {
  font-size: 1.3rem;
}
.darkMode {
  background-color: hsl(207, 26%, 17%);
  color:  hsl(207, 42%, 90%) ;
}
.lightMode {
 background-color:  hsl(0, 0%, 98%);
 color : hsl(200, 15%, 8%);
}
.lightMode a {
  background-color:  hsl(0, 0%, 98%);
  color : hsl(200, 15%, 8%);
}
.darkMode a {
  background-color: hsl(207, 26%, 17%);
  color:  hsl(207, 42%, 90%) ;
}
header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1.2em 2em 1.2em 2em;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.15);
}

.Mode button {
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  vertical-align: middle;
}
.Mode span {
  font-size: 1.3rem;
  margin: 5px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.9em;
  padding: 1.2em 2em 1.2em 2em;
}
form{
  box-shadow:0px 2px 3px 2px rgba(0, 0, 0, 0.15) ;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}
form input {
  border: none;
  background-color: transparent;
  padding: 10px;
  margin: 0px;
  text-align: justify;
  width: 300px;
}

form .searchInput  {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 5px;
}
.filter-dropdown {
  position: relative;
}
.filter-btn {
  font-size: 1.3rem;
  box-shadow:  0px 2px 3px 2px rgba(0, 0, 0, 0.15); 
  border-radius: 5px;
  border: none;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
}
.filter-btn svg {
  vertical-align: middle;
}
.dropdown-regions {
  position: absolute;
  display: none;
  min-width: 190px;
  margin-top: 5px;
  box-shadow:  0px 2px 3px 2px rgba(0, 0, 0, 0.15); 
  border-radius: 10px;
}
.dropdown-regions .regionlist {
  display: block;
  font-size: 1.3rem;
  padding: 9px; 
}

.regionlist:hover {
  text-decoration: underline;
}
.filter-dropdown:hover .dropdown-regions {
  display: block;
  transition: 3s ease;

}
.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 15px 0px 15px 0px;
}
.ListCountry {
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.15);
}
.ListCountry img {
  width: 300px;
  height: 300px;
  object-fit: fill;
}
.country-info{
  padding: 10px;
}
.country-info p {
  padding: 5px;
}
/* Responsive design */
/* mobile view */
@media screen and (max-width: 900px) {
 
  .container {
    flex-direction: column;
    align-items: baseline;
  }
  .filter-dropdown  {
    margin-top: 1em;
  }
 
}